.sidebar {
  background: var(--gray-800);
  border-radius: 6px;
  overflow: hidden; /*elemento restante do container deixa de aparecer */
}

.cover {
  width: 100%;
  height: 72px;
  object-fit: cover; /*não destorse a imagem e corta alguns lugares dela para caber */
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: calc(0px - 1.5rem - 6px); /*Margin negativa*/
}

.avatar {
  width: calc(3rem + 12px); /* somando junto os px da border e do outline 4px * 2 e 2px * 2 */
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500); /* vai criar um contorno fora da borda */
  background-color: var(--gray-800); /*Adicione este código para evitar problemas com imagens .png sem fundos.*/
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 0.875rem; /*0.875 * 16 = 14px    ou 14px / 16 = 0.875*/
  color: var(--gray-400);
  line-height: 1.6;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.5rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0 1.5rem;
  font-weight: bold;
  display: block;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;

  transition: color 0.1s, background-color 0.1s;
}

.sidebar footer a:hover {
  background: var(--green-500);
  color: var(--white);
}